cclib==1.8.1
h5py==3.12.1
iniconfig==2.0.0
meson==1.6.0
meson-python==0.17.1
numpy==2.1.2
packaging==24.1
periodictable==1.7.1
pluggy==1.5.0
psutil==6.1.0
pyparsing==3.2.0
pyproject-metadata==0.9.0
pyscf==2.7.0
pytest==8.3.3
scipy==1.14.1
setuptools==75.2.0
