# Project requirements
-r requirements.txt

# Docs
mkdocs
markdown
mkdocs-exclude
mkdocs-material
markdown-include
pygments
ansi2html

# QA
pytest
pytest-cov

black
autoflake
pylint
fprettify
precommit
